#ll{
    align-items: center;
    display:flexbox;
    border: 2px solid brown;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 75px;
    margin: auto;
    margin-top: 28px;
    margin-left: 341px;
    margin-right:341px;
     text-align: center;
}
#ll::before{
   content: "";
    position: absolute;
    background: #f2f2f2;
   
    
    
}
.butt{
    font-size: 20px;
    color:green;
}
#form{
    display: block;
   
}
#ff{
    display:inline-table;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    
}
#logo1{
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0px;
}
#logo1::before{
    display: flex;

}
